.pie{
    width: 100%;
    height: 160px;
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-direction: column;
        nav{
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        

}

a{
    font-size: 15px;
    color: #ff0;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
  
    border-bottom: 2px solid #E16D65;
    transition: all .5s ease;
    & :hover{
        color: #E16D65;
        transform: scale(1.1);
    
    }

}
img {
    width: 35px;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px 15px;
    text-decoration: none;

    
}